.Header{
	position: relative;
	.container{
		max-width: 100%;
		padding: 0 30px;
	}
	.LogoSection{
		position: absolute;
		top: 0;
		width: 100%;
		padding-top: 2rem;
		z-index: 1;
		a{
			img{
				max-width: 50%;
				@media (min-width: 768px){
					max-width: 100%;
				}
			}
		}
	}
	.BannerSection{
		background-size: cover !important;
		height: 100vh;
		position: relative;
		.BannerContent{
			position: absolute;
			bottom: 5rem;
			width: 100%;
			h1{
				line-height: 1;
				font-weight: 400;
				text-transform: uppercase;
				color: $white;
				font-size: 4rem;
				@media (min-width: 768px){
					font-size: 8rem;
				}
				span{
					font-weight: 800;
				}
			}
		}
	}
}