.BackPainSection{
	background: url(../img/back-pain-bg.jpg) no-repeat;
	background-size: cover;
	@media (min-width: 768px){
		background-size: 100%;
	}
}


.BgCenterContent{
	padding-top: 3rem;
	padding-bottom: 6rem;
	.CenterContent{
		padding-top: 2rem;
		padding-bottom: 2rem;
		background-color: $base;
		h2{
			color: $white;
			font-weight: 400;
			text-align: center;
			margin: 0;
			text-transform: uppercase;
			font-family: $relatableFont;
			line-height: 1.5;
			@media (min-width: 768px){
				line-height: 1;
			}
			span{
				font-weight: 700;
			}
		}
	}
}

.BackPainCards{
	padding-bottom: 1rem;
	background-color: rgba($base, 0.1);
	@media (min-width: 768px){
		padding-bottom: 6rem;
	}
	.CardWithContent{
		margin-top: 2rem;
		transition: all 0.3s ease-in;
		@media (min-width: 768px){
			margin-top: 6rem;
		}
		span{
			display: flex;
			align-items: center;
			justify-content: center;
			border: thin solid rgba($lightgrey, 0.5);
			padding: 4rem;
			img{
				max-height: 70px;
				@media (min-width: 768px){
					max-height: 142px;
				}
			}
		}
		h4{
			text-align: center;
			text-transform: uppercase;
			margin: 1rem 0 0;
			font-weight: 600;
			font-family: $relatableFont;
			min-height: 65px;
		    display: flex;
		    align-items: center;
		    height: 100%;
		    justify-content: center;
		    font-size: 1.7rem;
		    @media (min-width: 768px){
		    	font-size: 2.5rem;
		    }
		    br{
		    	display: none;
		    	@media (min-width: 768px){
		    		display: block;
		    	}
		    }
		}
		.ContentBox{
			margin-top: 1rem;
			text-align: center;
			color: $lightgrey;
			visibility: hidden;
			opacity: 0;
			transform: translateY(-100%) scaleY(0);
			transition: all 0.3s ease-in;
			p{
				display: none;
			}
			&.collapsible{
				visibility: visible;
				opacity: 1;
				transform: translateY(0) scaleY(1);
				transition: all 0.3s ease-in;
				
			}
		}
	}
}

.AdjustableBedButton{
	text-align: center;
	a{
		text-transform: uppercase;
		color: $white;
		background-color: $base;
		border-radius: 30px;
		padding: 1rem 3rem;
		font-size: 1.2rem;
		font-family: $relatableFont;
		font-weight: 700;
		text-decoration: none;
		transition: all 0.25s ease-in-out;
		@media (min-width: 768px){
			padding: 2rem 5rem;
			font-size: 2.5rem;
		}
		&:hover{
			background-color: $lightgrey;
		}
	}
}

.ProductCategoryWithHead{
	.ProductCategoryCards{
		padding-top: 2rem;
		padding-bottom: 2rem;
		background: url(../img/product-category-bg.jpg) no-repeat;
		background-size: cover;
		@media (min-width: 768px){
			background-size: 100%;
			padding-top: 12rem;
			padding-bottom: 11.8rem;
		}
		.ProductCards{
			h4{
				color: $base;
				font-family: $relatableFont;
				font-weight: 800;
				text-transform: uppercase;
				text-align: center;
				font-size: 1.35rem;
				@media (min-width: 768px){
					font-size: 3rem;
				}
			}
			img{
				background-color: $white;
				padding: 1.5rem;
				margin-top: 3rem;
				box-shadow: 7px 8px 12px rgba(0,0,0,0.2);
				min-height: 150px;
				@media (min-width: 768px){
					min-height: 245px;
				}
			}
			.ProductLink{
				font-size: 1.2rem;
				font-weight: 700;
				margin: 2rem auto 0;
				text-transform: uppercase;
				text-decoration: none;
				font-family: $relatableFont;
				color: $white;
				background-color: $base;
				padding: 10px 0;
				border-radius: 15px;
				display: block;
				max-width: 170px;
				text-align: center;
				transition: all 0.25s ease-in-out;
				@media (min-width: 768px){
					font-size: 1.6rem;
				}
				&:hover{
					background-color: $lightgrey;
				}
			}
		}
	}

	.ProductFullContent{
		padding-top: 5rem;
		background: url(../img/essence-bg.jpg) no-repeat;
		background-size: cover;
		.InsideProduct{
			position: relative;
			z-index: 9;
			&:after{
				content: "";
				position: absolute;
				width: 100%;
				height: 38%;
				background-color: $base;
				bottom: 0;
				left: 0;
				right: 0;
				margin: 0 auto;
				z-index: -1;
			}
		}
		h2{
			font-family: $relatableFont;
			text-align: center;
			font-weight: 800;
			text-transform: uppercase;
			color: $base;
		}
		img{
			max-width: 75%;
			margin: 0 auto;
			display: block;
		}
		.featuresIcon{
			padding: 4rem 0;
			ul{
				list-style: none;
				padding: 0;
				margin: 0;
				display: flex;
				align-items: flex-start;
				justify-content: center;
				flex-wrap: wrap;
				li{
					flex-basis: 32%;
					text-align: center;
					margin-top: 2rem;
					@media (min-width: 768px){
						flex-basis: 11%;
					}
					.iconSpan{
						display: flex;
						align-items: flex-end;
						justify-content: center;
						svg{
							width: 65px;
							height: 50px;
						}
					}
					p{
						padding: 0;
						margin-top: 1rem;
						font-size: 1.3rem;
					}
				}
			}
		}
		&.block{
			display: block;
		}
	}
}

.tabs{
    width:100%;
    height:auto;
    margin:0 auto;
}

/* tab list item */
.tabs .tabs-list{
    list-style:none;
    display: flex;
    padding: 0;
}
.tabs .tabs-list li{
    width:33%;
    margin:0px;
    margin-right:2px;
    padding:10px 5px;
    text-align: center;
    border-radius:3px;
}
.tabs .tabs-list li:hover{
    cursor:pointer;
}
.tabs .tabs-list li a{
    text-decoration: none;
    color:white;
}

/* Tab content section */
.tabs .tab{
    display:none;
    width:100%;
    min-height:250px;
    height:auto;
    border-radius:3px;
    background-color:lavender;
    color:darkslategray;
    clear:both;
}
.tabs .tab h3{
    border-bottom:3px solid cornflowerblue;
    letter-spacing:1px;
    font-weight:normal;
    padding:5px;
}
.tabs .tab p{
    line-height:20px;
    letter-spacing: 1px;
}

/* When active state */
.active{
    display:block !important;
}

/* media query */
@media screen and (max-width:360px){
    .tabs{
        margin:0;
        width:96%;
    }
    .tabs .tabs-list li{
        width:80px;
    }
}