.BgCenterContent{
	padding-top: 3rem;
	padding-bottom: 3rem !important;
	@media (min-width: 768px){
		padding-bottom: 6rem !important;
	}
	.CenterContent{
		padding-top: 2rem;
		padding-bottom: 2rem;
		background-color: $base;
		h2{
			color: $white;
			font-weight: 400;
			text-align: center;
			margin: 0;
			text-transform: uppercase;
			font-family: $relatableFont;
			line-height: 1;
			span{
				font-weight: 700;
			}
		}
	}
}