.ContactUsBlock{
	background: url(../img/contect-us-bg.jpg) no-repeat;
	background-size: cover;
	@media (min-width: 768px){
		background-size: 100%;
	}
	h2{
		font-family: $relatableFont;
		color: $offblack;
		text-transform: uppercase;
		text-align: center;
	}
	.ContactUsDetails{
		margin-top: 3rem;
		h4{
			font-family: $secondaryFont;
			color: $offbase;
			font-weight: bold;
			text-transform: uppercase;
			margin-bottom: 1.5rem;
		}
		.DetailsBlock{
			width: 100%;
			height: 100%;
			background-color: $base;
			padding: 2rem;
			margin-top: 2rem;
			@media (min-width: 768px){
				margin-top: 0;
			}
			ul{
				padding: 0;
				list-style: none;
				li{
					display: flex;
					align-items: flex-start;
					justify-content: flex-start;
					margin: 1.5rem 0;
					.Icons{
						display: flex;
						align-items: flex-start;
						margin-right: 1rem;
					}
					h3{
						font-size: 2.5rem;
						color: $white;
						font-family: $secondaryFont;
						font-weight: 700;
						line-height: 0.7;
						margin-bottom: 1rem;
					}

					a{
						font-weight: 100;
						text-decoration: none;
						color: $white;
						font-size: 2.7rem;
						font-family: $secondaryFont;
					}
					h5{
						font-size: 2.3rem;
						font-family: $secondaryFont;
						font-weight: 400;
						color: $white;
						margin-bottom: 0;
						margin-top: 1rem;
						span{
							font-weight: 100;
						}
					}
				}
			}
		}
		.ContactForm{
			form{
				input[type="text"],input[type="email"]{
					width: 100%;
					padding: 10px;
					color: $offblack;
					border: thin solid rgba($lightgrey, 0.5);
					margin-bottom: 1.8rem;
					font-family: $secondaryFont;
					&:focus{
						outline: none;
					}
				}
				textarea{
					width: 100%;
					padding: 10px;
					color: $offblack;
					border: thin solid rgba($lightgrey, 0.5);
					margin-bottom: 1.8rem;
					font-family: $secondaryFont;
					height: 130px;
					&:focus{
						outline: none;
					}
				}
				input[type="submit"],input[type="button"]{
					width: 100%;
					border: none;
					padding: 10px;
					text-align: center;
					text-transform: uppercase;
					color: $white;
					background-color: $offbase;
					font-family: $secondaryFont;
					cursor: pointer;
					&:focus{
						outline: none;
					}
				}
			}
		}
	}
}