.SliderBlock{
	background: url(../img/find-the-perfect-bg.jpg) no-repeat;
	background-size: cover;
	h2{
		color: $base;
		margin: 0;
		text-align: center;
		line-height: 1;
		text-transform: uppercase;
		font-family: $relatableFont;
		margin-bottom: 3rem;
		@media (min-width: 768px){
			margin-bottom: 6rem;
		}
	}
	.BenefitsSlide{
		background-color: transparent;
		border: 3px solid $base;
		img{
			height: 100%;
			display: block;
			width: 100%;
		}
		h3{
			text-align: center;
			color: $white;
			margin: 0;
			padding: 1rem;
			text-transform: uppercase;
			font-family: $relatableFont;
			background-color: $base;
			font-size: 2rem;
			@media (min-width: 768px){
				font-size: 3rem;
			}
		}
		.WhiteBg{
			background-color: transparent;
			.ContentBlock{
				padding: 0.5rem;
				@media (min-width: 768px){
					padding: 1.5rem 0;
					padding-right: 1.5rem;
				}
				h4{
					font-family: $secondaryFont;
					font-weight: 400;
					font-size: 1.6rem;
					color: $black;
					@media (min-width: 768px){
						font-size: 2.4rem;
					}
				}
				ul{
					display: flex;
					align-items: center;
					justify-content: space-between;
					flex-wrap: wrap;
					padding: 0;
					list-style: none;
					li{
						flex-basis: 100%;
						background-color: $base;
						color: $white;
						padding: 0.5rem;
						font-family: $secondaryFont;
						font-size: 1.6rem;
						text-transform: uppercase;
						margin-top: 1rem;
						min-height: 180px;
						@media (min-width: 768px){
							flex-basis: 32%;
							font-size: 1.7rem;
							padding: 1.5rem;
							margin-top: 1.5rem;
						}
						br{
							display: none;
							@media (min-width: 768px){
								display: block;
							}
						}
						span{
							font-size: 2rem;
							font-weight: 600;
							font-family: $secondaryFont;
							display: inline-block;
							@media (min-width: 768px){
								display: block;
								font-size: 3.5rem;
							}
						}
					}
				}
			}
		}
	}
	.slick-arrow {
	    height: 30px;
	    width: 30px;
	    z-index: 9;
	    text-indent: -999px;
	    &.slick-next {
		    background: url(../img/chevron-right.png) no-repeat;
		    right: -50px;
		    background-position: 50%;
		    &:before{
		    	content: '';
		    }
		}
		&.slick-prev {
		    background: url(../img/chevron-left.png) no-repeat;
		    left: -50px;
		    background-position: 50%;
		    &:before{
		    	content: '';
		    }
		}
	}
}