$base : #418CA9;
$black: #000;
$offblack: #404040;
$white: #fff;
$lightgrey: #636363;
$offbase: #324b5e;

$primaryFont: 'Exo', sans-serif;
$secondaryFont: 'Source Sans Pro', serif;
$relatableFont: 'Montserrat', serif;
